ClientManage/Service References/SmsFactoryService/SmsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHistoryMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryMessage" nillable="true" type="tns:HistoryMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryMessage" nillable="true" type="tns:ArrayOfHistoryMessage" />
  <xs:complexType name="HistoryMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternativeEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConfirmationStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="Credit" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateSend" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDemo" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageReferenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="ToPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsedCredit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryMessage" nillable="true" type="tns:HistoryMessage" />
</xs:schema>