ClientManage/Service References/SmsFactoryService/SmsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
  <xs:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" />
  <xs:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarmUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WarmUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="package" nillable="true" type="q1:SmsPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q2:CustomerCredentials" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="message" nillable="true" type="q3:SmsMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q4:CustomerCredentials" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="messages" nillable="true" type="q5:ArrayOfSmsMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBulkMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q6:CustomerCredentials" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="bulkMessage" nillable="true" type="q7:BulkSmsMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBulkMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q8:CustomerCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCreditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q9:CustomerCredentials" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" minOccurs="0" name="filter" nillable="true" type="q10:HistoryMessageFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" minOccurs="0" name="GetHistoryMessagesResult" nillable="true" type="q11:ArrayOfHistoryMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalMessagesPerDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q12:CustomerCredentials" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" minOccurs="0" name="filter" nillable="true" type="q13:TotalMessagesPerDayFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalMessagesPerDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetTotalMessagesPerDayResult" nillable="true" type="q14:ArrayOfTotalMessagesPerDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>