ClientManage/Service References/SmsFactoryService/SmsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="HistoryMessageFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseHistoryMessageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCreatedFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreatedTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateSendFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateSendTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FromName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotSuccessStatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderBy" type="tns:HistoryMessageFilter.OrderByOptions" />
          <xs:element minOccurs="0" name="PackageReferenceId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PackageTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReferenceId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ToPhone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryMessageFilter" nillable="true" type="tns:HistoryMessageFilter" />
  <xs:complexType name="BaseHistoryMessageFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilterOfHistoryMessageFdYOpOQC">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerUniqueId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseHistoryMessageFilter" nillable="true" type="tns:BaseHistoryMessageFilter" />
  <xs:complexType name="BaseFilterOfHistoryMessageFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="HistoryMessage" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseFilterOfHistoryMessageFdYOpOQC" nillable="true" type="tns:BaseFilterOfHistoryMessageFdYOpOQC" />
  <xs:complexType name="BaseFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFilter" nillable="true" type="tns:BaseFilter" />
  <xs:simpleType name="HistoryMessageFilter.OrderByOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DateSend" />
      <xs:enumeration value="DateSendDesc" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HistoryMessageFilter.OrderByOptions" nillable="true" type="tns:HistoryMessageFilter.OrderByOptions" />
  <xs:complexType name="TotalMessagesPerDayFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseHistoryMessageFilter">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCreatedFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreatedTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateSendFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateSendTo" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TotalMessagesPerDayFilter" nillable="true" type="tns:TotalMessagesPerDayFilter" />
</xs:schema>