ClientManage/Service References/SmsFactoryService/SmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
      <xsd:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" />
      <xsd:import schemaLocation="http://smsfactory.co.il/services/SmsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmsService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="ISmsService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_WarmUp_InputMessage">
    <wsdl:part name="parameters" element="tns:WarmUp" />
  </wsdl:message>
  <wsdl:message name="ISmsService_WarmUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:WarmUpResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPackage" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPackageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessages" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendBulkMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBulkMessage" />
  </wsdl:message>
  <wsdl:message name="ISmsService_SendBulkMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBulkMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCredit" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetHistoryMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryMessages" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetHistoryMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetTotalMessagesPerDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalMessagesPerDay" />
  </wsdl:message>
  <wsdl:message name="ISmsService_GetTotalMessagesPerDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalMessagesPerDayResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmsService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceContract/IsAlive" message="tns:ISmsService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceContract/IsAliveResponse" message="tns:ISmsService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WarmUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseServiceContract/WarmUp" message="tns:ISmsService_WarmUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseServiceContract/WarmUpResponse" message="tns:ISmsService_WarmUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendPackage" message="tns:ISmsService_SendPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendPackageResponse" message="tns:ISmsService_SendPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendMessage" message="tns:ISmsService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendMessageResponse" message="tns:ISmsService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendMessages" message="tns:ISmsService_SendMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendMessagesResponse" message="tns:ISmsService_SendMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBulkMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/SendBulkMessage" message="tns:ISmsService_SendBulkMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/SendBulkMessageResponse" message="tns:ISmsService_SendBulkMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/GetCredit" message="tns:ISmsService_GetCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/GetCreditResponse" message="tns:ISmsService_GetCredit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/GetHistoryMessages" message="tns:ISmsService_GetHistoryMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/GetHistoryMessagesResponse" message="tns:ISmsService_GetHistoryMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalMessagesPerDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmsService/GetTotalMessagesPerDay" message="tns:ISmsService_GetTotalMessagesPerDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmsService/GetTotalMessagesPerDayResponse" message="tns:ISmsService_GetTotalMessagesPerDay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmsService" type="tns:ISmsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceContract/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarmUp">
      <soap:operation soapAction="http://tempuri.org/IBaseServiceContract/WarmUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPackage">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessages">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBulkMessage">
      <soap:operation soapAction="http://tempuri.org/ISmsService/SendBulkMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredit">
      <soap:operation soapAction="http://tempuri.org/ISmsService/GetCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryMessages">
      <soap:operation soapAction="http://tempuri.org/ISmsService/GetHistoryMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalMessagesPerDay">
      <soap:operation soapAction="http://tempuri.org/ISmsService/GetTotalMessagesPerDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsService">
    <wsdl:port name="BasicHttpBinding_ISmsService" binding="tns:BasicHttpBinding_ISmsService">
      <soap:address location="http://smsfactory.co.il/services/SmsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>