SoftHairQuickLanch/Service References/SmsFactory/CommonServices1010.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EmailMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateViews" nillable="true" type="tns:ArrayOfEmailAlternateView" />
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="tns:ArrayOfEmailAttachment" />
      <xs:element minOccurs="0" name="Bcc" nillable="true" type="tns:ArrayOfEmailAddress" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BodyEncodingCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Cc" nillable="true" type="tns:ArrayOfEmailAddress" />
      <xs:element minOccurs="0" name="DeliveryNotificationOptions" type="tns:EmailDeliveryNotificationOptions" />
      <xs:element minOccurs="0" name="From" nillable="true" type="tns:EmailAddress" />
      <xs:element minOccurs="0" name="Headers" nillable="true" type="tns:ArrayOfEmailHeaderItem" />
      <xs:element minOccurs="0" name="HeadersEncodingCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsBodyHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="Priority" type="tns:EmailPriority" />
      <xs:element minOccurs="0" name="ReplyToList" nillable="true" type="tns:ArrayOfEmailAddress" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:EmailAddress" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectEncodingCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="To" nillable="true" type="tns:ArrayOfEmailAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailMessage" nillable="true" type="tns:EmailMessage" />
  <xs:complexType name="ArrayOfEmailAlternateView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAlternateView" nillable="true" type="tns:EmailAlternateView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailAlternateView" nillable="true" type="tns:ArrayOfEmailAlternateView" />
  <xs:complexType name="EmailAlternateView">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ContentStream" nillable="true" type="q1:Stream" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAlternateView" nillable="true" type="tns:EmailAlternateView" />
  <xs:complexType name="ArrayOfEmailAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAttachment" nillable="true" type="tns:EmailAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailAttachment" nillable="true" type="tns:ArrayOfEmailAttachment" />
  <xs:complexType name="EmailAttachment">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ContentStream" nillable="true" type="q2:Stream" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="NameEncoding" nillable="true" type="q3:Encoding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAttachment" nillable="true" type="tns:EmailAttachment" />
  <xs:complexType name="ArrayOfEmailAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAddress" nillable="true" type="tns:EmailAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailAddress" nillable="true" type="tns:ArrayOfEmailAddress" />
  <xs:complexType name="EmailAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayNameEncodingCode" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAddress" nillable="true" type="tns:EmailAddress" />
  <xs:simpleType name="EmailDeliveryNotificationOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="OnSuccess" />
      <xs:enumeration value="OnFailure" />
      <xs:enumeration value="Delay">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Never">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">134217728</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmailDeliveryNotificationOptions" nillable="true" type="tns:EmailDeliveryNotificationOptions" />
  <xs:complexType name="ArrayOfEmailHeaderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailHeaderItem" nillable="true" type="tns:EmailHeaderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailHeaderItem" nillable="true" type="tns:ArrayOfEmailHeaderItem" />
  <xs:complexType name="EmailHeaderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailHeaderItem" nillable="true" type="tns:EmailHeaderItem" />
  <xs:simpleType name="EmailPriority">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Low" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EmailPriority" nillable="true" type="tns:EmailPriority" />
  <xs:complexType name="UpdateVersionQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUpdateNeeded" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateApplicationUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateVersionQuery" nillable="true" type="tns:UpdateVersionQuery" />
</xs:schema>