SoftHairQuickLanch/Service References/SmsFactory/CommonServices102.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseFilterOfCustomerServiceCallFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerServiceCall" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadOption" type="tns:LoadOptionTypes" />
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFilterOfCustomerServiceCallFdYOpOQC" nillable="true" type="tns:BaseFilterOfCustomerServiceCallFdYOpOQC" />
  <xs:simpleType name="LoadOptionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Small" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Big" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoadOptionTypes" nillable="true" type="tns:LoadOptionTypes" />
  <xs:complexType name="BaseFilterOfCustomerExceptionFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerException" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadOption" type="tns:LoadOptionTypes" />
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFilterOfCustomerExceptionFdYOpOQC" nillable="true" type="tns:BaseFilterOfCustomerExceptionFdYOpOQC" />
  <xs:complexType name="BaseFilterOfAnonymousContactUsFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AnonymousContactUs" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadOption" type="tns:LoadOptionTypes" />
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFilterOfAnonymousContactUsFdYOpOQC" nillable="true" type="tns:BaseFilterOfAnonymousContactUsFdYOpOQC" />
</xs:schema>