SoftHairQuickLanch/Service References/SmsFactory/CommonServices105.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" />
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices" />
  <xs:import schemaLocation="http://localhost:27136/services/CommonServices.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" />
  <xs:element name="GetCustomerUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q1:CustomerCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerUniqueIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q2:UserCredentials" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" minOccurs="0" name="emailMessage" nillable="true" type="q3:EmailMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q4:UserCredentials" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" minOccurs="0" name="emailMessage" nillable="true" type="q5:EmailMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAsyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q6:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdateVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" minOccurs="0" name="CheckForUpdateVersionResult" nillable="true" type="q7:UpdateVersionQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q8:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerUpToDateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q9:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerUpToDateVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q10:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices" minOccurs="0" name="CheckCustomerLicenseResult" nillable="true" type="q11:CustomerLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q12:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerServiceCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q13:UserCredentials" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="serviceCall" nillable="true" type="q14:CustomerServiceCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerServiceCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerServiceCallStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q15:UserCredentials" />
        <xs:element minOccurs="0" name="serviceCallId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerServiceCallStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q16:UserCredentials" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" minOccurs="0" name="filter" nillable="true" type="q17:CustomerServiceCallFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetCustomerServiceCallsResult" nillable="true" type="q18:ArrayOfCustomerServiceCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q19:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="exception" nillable="true" type="q20:CustomerException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptionText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q21:UserCredentials" />
        <xs:element minOccurs="0" name="exceptionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptionTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerExceptionTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q22:UserCredentials" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" minOccurs="0" name="filter" nillable="true" type="q23:CustomerExceptionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetCustomerExceptionsResult" nillable="true" type="q24:ArrayOfCustomerException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnonymousContactUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q25:UserCredentials" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="contactUs" nillable="true" type="q26:AnonymousContactUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnonymousContactUsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnonymousContactUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q27:UserCredentials" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" minOccurs="0" name="filter" nillable="true" type="q28:CustomerContactUsFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnonymousContactUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetAnonymousContactUsResult" nillable="true" type="q29:ArrayOfAnonymousContactUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnonymousContactUsStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q30:UserCredentials" />
        <xs:element minOccurs="0" name="contactUsId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnonymousContactUsStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>