BizCare.SoftHair.UpdateVersion/Service References/SmsFactoryCommon/CommonServices119.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerStatus" type="xs:int" />
      <xs:element minOccurs="0" name="Features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LicenseKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerLicense" nillable="true" type="tns:CustomerLicense" />
</xs:schema>