ClientManage/Service References/SmsFactoryCommon/CommonServices11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="EventsSyncInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerUniqueId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeletedEventsId" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ModifiedEvents" nillable="true" type="tns:ArrayOfEventsSyncDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventsSyncInfo" nillable="true" type="tns:EventsSyncInfo" />
  <xs:complexType name="ArrayOfEventsSyncDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventsSyncDetails" nillable="true" type="tns:EventsSyncDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventsSyncDetails" nillable="true" type="tns:ArrayOfEventsSyncDetails" />
  <xs:complexType name="EventsSyncDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CareDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CareIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateSmsNotified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasReminder" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasSmsNotified" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Importance" type="xs:int" />
      <xs:element minOccurs="0" name="IsAllDayEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReminderMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkerId" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventsSyncDetails" nillable="true" type="tns:EventsSyncDetails" />
</xs:schema>