ClientManage/Service References/SmsFactoryCommon/CommonServices6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Library" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:6945/Services/CommonServices.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarmUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WarmUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVoucherUsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q1:UserCredentials" />
        <xs:element minOccurs="0" name="voucherNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVoucherUsedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q2:UserCredentials" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.EntitiesDTO" minOccurs="0" name="contactSyncInfo" nillable="true" type="q3:ContactsSyncInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncContactsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q4:UserCredentials" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Library" minOccurs="0" name="eventsSyncInfo" nillable="true" type="q5:EventsSyncInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerUniqueId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q6:CustomerCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerUniqueIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerUniqueIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q7:UserCredentials" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" minOccurs="0" name="emailMessage" nillable="true" type="q8:EmailMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q9:UserCredentials" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" minOccurs="0" name="emailMessage" nillable="true" type="q10:EmailMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailAsyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q11:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckForUpdateVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities.CommonServices" minOccurs="0" name="CheckForUpdateVersionResult" nillable="true" type="q12:UpdateVersionQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q13:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerUpToDateVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q14:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerUpToDateVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q15:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCustomerLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices" minOccurs="0" name="CheckCustomerLicenseResult" nillable="true" type="q16:CustomerLicense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q17:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerServiceCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerServiceCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q18:UserCredentials" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="serviceCall" nillable="true" type="q19:CustomerServiceCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerServiceCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerServiceCallStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q20:UserCredentials" />
        <xs:element minOccurs="0" name="serviceCallId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomerServiceCallStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceCalls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q21:UserCredentials" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" minOccurs="0" name="filter" nillable="true" type="q22:CustomerServiceCallFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerServiceCallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetCustomerServiceCallsResult" nillable="true" type="q23:ArrayOfCustomerServiceCall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerException">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q24:UserCredentials" />
        <xs:element minOccurs="0" name="customerUniqueId" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="exception" nillable="true" type="q25:CustomerException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCustomerExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptionText">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q26:UserCredentials" />
        <xs:element minOccurs="0" name="exceptionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptionTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerExceptionTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q27:UserCredentials" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" minOccurs="0" name="filter" nillable="true" type="q28:CustomerExceptionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerExceptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetCustomerExceptionsResult" nillable="true" type="q29:ArrayOfCustomerException" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnonymousContactUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q30:UserCredentials" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="contactUs" nillable="true" type="q31:AnonymousContactUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnonymousContactUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAnonymousContactUsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnonymousContactUs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q32:UserCredentials" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SmsFactory.Common.CommonServices.Filters" minOccurs="0" name="filter" nillable="true" type="q33:CustomerContactUsFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnonymousContactUsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetAnonymousContactUsResult" nillable="true" type="q34:ArrayOfAnonymousContactUs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnonymousContactUsStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q35:UserCredentials" />
        <xs:element minOccurs="0" name="contactUsId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnonymousContactUsStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q36:UserCredentials" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q37:UserCredentials" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCounterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClickCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q38:UserCredentials" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClickCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClickCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q39:UserCredentials" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateVouchersResult" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVouchersWithMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q41:UserCredentials" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="metadata" nillable="true" type="q42:VoucherMetadata" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVouchersWithMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CreateVouchersWithMetadataResult" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q44:UserCredentials" />
        <xs:element minOccurs="0" name="voucherNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetVoucherResult" nillable="true" type="q45:Voucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVouchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q46:UserCredentials" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" minOccurs="0" name="filter" nillable="true" type="q47:VoucherFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="GetVouchersResult" nillable="true" type="q48:ArrayOfVoucher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVoucherExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" minOccurs="0" name="credentials" nillable="true" type="q49:UserCredentials" />
        <xs:element minOccurs="0" name="voucherNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVoucherExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsVoucherExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>