ClientManage/Service References/SmsFactoryCommon/CommonServices13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseFilterOfCustomerServiceCallFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerServiceCall" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseFilterOfCustomerServiceCallFdYOpOQC" nillable="true" type="tns:BaseFilterOfCustomerServiceCallFdYOpOQC" />
  <xs:complexType name="BaseFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFilter" nillable="true" type="tns:BaseFilter" />
  <xs:complexType name="BaseFilterOfCustomerExceptionFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerException" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseFilterOfCustomerExceptionFdYOpOQC" nillable="true" type="tns:BaseFilterOfCustomerExceptionFdYOpOQC" />
  <xs:complexType name="BaseFilterOfAnonymousContactUsFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AnonymousContactUs" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseFilterOfAnonymousContactUsFdYOpOQC" nillable="true" type="tns:BaseFilterOfAnonymousContactUsFdYOpOQC" />
  <xs:complexType name="VoucherFilter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilterOfVoucherFdYOpOQC">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateCreatedFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreatedTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Metadata" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VoucherFilter" nillable="true" type="tns:VoucherFilter" />
  <xs:complexType name="BaseFilterOfVoucherFdYOpOQC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="BaseFilterOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Filters" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Voucher" Namespace="http://schemas.datacontract.org/2004/07/SmsFactory.Common.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFilter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseFilterOfVoucherFdYOpOQC" nillable="true" type="tns:BaseFilterOfVoucherFdYOpOQC" />
</xs:schema>